.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px;
  }
  
  .book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 10px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 40px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: skyblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .pagination button:hover {
    background-color: blue;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .book-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    
    .pagination {
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }
  }
  