.cart {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.cart h2 {
  text-align: center;
  margin-bottom: 20px;
}

.cart p {
  text-align: center;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart form {
  margin-top: 20px;
}

.cart label {
  display: block;
  margin-bottom: 5px;
}

.cart input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.cart button {
  width: 100%;
  padding: 10px;
  background-color: skyblue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart button:hover {
  background-color: blue;
}

@media (max-width: 768px) {
  .cart {
    max-width: 100%;
    padding: 10px;
  }
}

.book-card {
  position: relative;
}

.cart .remove-btn {
  color: white;
  background-color: red;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  width: 24%;
}
